<!DOCTYPE html>
<html lang="en">
  <head>
   <% include ./partials/head.ejs %>
  </head>
  <body>
    <% include ./partials/navbar.ejs %>
      

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">About Us</h1>
          <p class="lead">An application about us.</p>
          <a href="#" class="btn btn-primary btn-lg">Sign up</a>
        </header>

        <!-- Page Features -->
        <section class="row text-center">

          <section class="col-lg-4">
            <h4 class="card-title">Post</h4>
            <p class="card-text">About us.</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Comment</h4>
            <p class="card-text">About us comments</p>
          </section>

          <section class="col-lg-4">
            <h4 class="card-title">Stay Informed</h4>
            <p class="card-text">Informed about us!</p>
          </section>

        </section>
        <!-- /.row -->

      </main>
      <!-- /.container -->

      

      <%  include ./partials/baseScripts.ejs %>

    </body>
</html>
